p{
    text-align: center;
}

h1{
    text-align: center;
    font-family: Verdana;
}

body{
    color: white;
    background-color: black;
}

p{
    white-space: pre;
    font-size: 20px;
    font-family: 'Kanit', sans-serif, Verdana;
    line-height: 25px;
}

h1{
    padding: 5px;
    margin-top: 150px;
}

.glow {
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5), 0 0 10px rgba(255, 255, 255, 0.5), 0 0 15px rgba(255, 255, 255, 0.5);
}

.glow-facebook {
    color: #4267B2;
    text-shadow: 0 0 5px rgba(66, 103, 178, 0.7), 0 0 10px rgba(66, 103, 178, 0.7), 0 0 15px rgba(66, 103, 178, 0.7);
}

.glow-email {
    color: #000;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.7), 0 0 10px rgba(255, 255, 255, 0.7), 0 0 15px rgba(255, 255, 255, 0.7);
}

.glow-instagram {
    color: #C13584;
    text-shadow: 0 0 5px rgba(193, 53, 84, 0.7), 0 0 10px rgba(193, 53, 84, 0.7), 0 0 15px rgba(193, 53, 84, 0.7);
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover ion-icon {
    transition: transform 0.3s ease, color 0.3s ease;
    transform: scale(1.2); 
    color: #FFD700; 
}

a:hover {
    color: #FFD700; 
}

.pulse {
    position: relative;
    animation: pulse-animation 2s infinite;
}

@keyframes pulse-animation {
    0% {
        transform: scale(1);
        opacity: 0.75;
    }
    50% {
        transform: scale(1.1);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 0.75;
    }
}

.neon-text {
    color: #00ff00;
    text-shadow: 0 0 5px #00ff00, 0 0 10px #00ff00, 0 0 15px #00ff00, 0 0 20px #00ff00;
}

@keyframes backgroundAnimation {
    0% { background-color: #000; }
    50% { background-color: #333; }
    100% { background-color: #000; }
}

body {
    animation: backgroundAnimation 10s infinite;
}

.text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7), 0 0 10px rgba(255, 255, 255, 0.5);
}

.social-links {
    text-align: center;
    margin: 20px 0;
}

.social-link{
    display: inline-flex;
    align-items: center;
    margin: 0 10px;
    text-decoration: none;
    color: inherit;
}